{% extends "base.html" %}


{% block content %}

{% if not tickets or count == 0 %}
 
<h1> No data found </h1>
 
{% else %}
 

 


<div class="card border-0 ">
    <div class="card-body mx-0 px-0">
        
        <h5 class="card-title">Tickets requiring your attention ({{ count }}) </h5>
        <div class="row justify-content-center">
            <div class="col-12">
                <table class="table table-borderless table-sm">
                    
                    <tr class="table-head">
                        <th>ID</th>
                        <th>Status</th>
                        <th>Subject</th>
                        <th>Requester</th>
                        <th>Last updated</th>
                        <th>Assignee</th>
                    </tr>
                    {% for ticket in tickets: %}
                    
                    <tr class="ticket clickable" data-href="{{ url_for('show_ticket.show_ticket', id=ticket['id']) }}">
                            <td>{{ ticket['id'] }}</td>
                            <td><span class="status badge rounded-pill">{{ ticket['status'] }}</span></td>
                            <td>{{ ticket['subject'] }}</td>
                            <td>{{ ticket['requester'] }}</td>
                            <td><span class="updated"> {{ ticket['updated_at'] }} </span></td>
                            <td>{{ ticket['assignee'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-12 d-flex justify-content-start">
                    <nav aria-label="...">
                        <ul id="tickets-pagination" class="pagination">
                            <li class="page-item">
                                <a class="page-link" pagelink="{{ previous_page }}" href="#" >Previous</a>
                            </li>
                            <!-- <li class="page-item">
                                <a class="page-link" href="#"></a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li> -->
                            <li class="page-item">
                                <a class="page-link" pagelink="{{ next_page }}" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                
            </div>
        </div>
    </div>
    {% endif %}

    {% endblock content %}